.nav {
    position: fixed;
    z-index: 6;
    width: 100vw;
    height: 45px;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}


.nav-item {
    cursor: pointer;
    border-radius: 0.375rem;
    height: fit-content;
    padding: 10px;
    width: 85px;
    margin-right: 10px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border);
}

.nav-item p {
    margin: 0;
    color: var(--copy);
    font-size: small;
}


.nav-logo {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
    margin-right: 0;
    height: 55px;
    width: auto;
}

.dropdown-button {
    display: none;
}

.dropdown-container {
    display: none;
}

.dropdown-list {
    display: none;
}

@media screen and (max-width: 650px) {
    .nav {
        top: 0;
        height: 30px;
        padding-left: 50px;
        width: 100vw;
        background-color: transparent;
    }

    .nav-logo {
        display: none;
    }

    .nav-item {
        display: none;
    }

    .dropdown-container {
        position: fixed;
        z-index: 7;
        width: 100vw;
        height: 45px;
        left: 0px;
        top: 0px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 1rem;
        /* From https://css.glass */
        background: rgba(255, 255, 255, 1);
        box-shadow: 0 0px 30px rgba(0, 0, 0, 0.1);
        border-top: none;
    }

    .dropdown-button {
        display: flex;
        z-index: 10;
        cursor: pointer;
        border-radius: 0.375rem;
        height: fit-content;
        width: fit-content;
        margin-right: 10px;
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border: 1px solid var(--border);
    }

    .dropdown-button svg {
        margin: 0;
        color: var(--copy);
        font-size: xx-large;
    }

    .dropdown-item {
        margin-bottom: 1%;
        cursor: pointer;
        border-radius: 0.375rem;
        height: fit-content;
        padding: 1rem;
        width: 90vw;
        margin-bottom: 10px;
        /* From https://css.glass */
        background: none;
        border: 1px solid var(--border);
    }


    .dropdown-item p {
        margin: 0;
        color: var(--copy);
        font-size: 1rem;
        text-decoration: none;
    }

    .dropdown-list {
        position: fixed;
        left: 0px;
        right: 0px;
        top: -250px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: 1rem;
        padding-top: 2rem;
        align-items: center;
        z-index: 6;
        width: auto;
        height: fit-content;
        padding-bottom: 15px;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    }

    .dropdown-container h1 {
        position: absolute;
        margin: 0;
        top: 15px;
        left: 15px;
    }



}